<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Error', ~{::div})}">
<body>
<div>
    <div class="container mt-5">
        <div class="card bg-danger text-white">
            <div class="card-header">
                <h2 class="card-title">Error</h2>
            </div>
            <div class="card-body">
                <h3>Something went wrong!</h3>
                <div class="alert alert-danger">
                    <p><strong>Status:</strong> <span th:text="${status}">500</span></p>
                    <p><strong>Time:</strong> <span th:text="${timestamp}">Timestamp</span></p>
                    <p><strong>Path:</strong> <span th:text="${url}">URL</span></p>
                    <p><strong>Error Message:</strong> <span th:text="${exception.message}">Error Message</span></p>
                </div>
                <a href="/" class="btn btn-light">Go Home</a>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h4>Stack Trace</h4>
            </div>
            <div class="card-body">
                    <pre class="mt-3" th:text="${#strings.arrayJoin(exception.stackTrace, '
')}">Stack trace</pre>
            </div>
        </div>
    </div>
</div>
</body>
</html>